# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Anaconda
anaconda_projects/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db